<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="logo">ET</div>
        <span class="logo-text">EduTech</span>
    </div>

    <ul class="nav-menu">
        <li class="nav-item">
            <a href="{% url 'trainer:dashboard' %}" class="nav-link active">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'trainer:profile' %}" class="nav-link">My Profile</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'trainer:my_batches' %}" class="nav-link">My Batches</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Attendance</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Task Management</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Announcements</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Student Evaluation</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Leave Details</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Students Feedback</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Upload Daily Clasess</a>
        </li>
    </ul>
</aside>
