{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'student/css/payment.css' %}">

<div class="payment-container glass-card">

    <!-- HEADER -->
    <div class="payment-header">
        <div></div>
        <h2>Student Admission & Fee Management</h2>
        <div class="student-info">
            <h3>John Smith</h3>
            <p>john.smith@email.com</p>
            <p><b>Student ID:</b> 202300456</p>
        </div>
    </div>

    <!-- STATUS CARD -->
    <div class="emi-status-box">
        <span class="status-badge pending">Pending Approval</span>

        <h3>EMI Request Submitted</h3>
<li>
        <p>
            Your EMI request has been successfully submitted and is
            <b>waiting for administration response</b>.
        </p>
</li>
<li>

        <p class="sub-text">
            You will be notified once the administration reviews your request.
        </p>
 </li>
    </div>
    <br>
    <a href="{% url 'payment' %}" class="back-link">
    ← Back to Home
</a>

</div>

{% endblock %}
