{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'student/css/install_qr.css' %}">

<div class="main-content qr-main">

    <div class="qr-card">

        <h2 class="qr-title">Scan & Pay your Installments</h2>

        <!-- QR CODE -->
        <div class="qr-image">
            <img src="{% static 'student/images/image.png' %}" alt="QR Code">
        </div>

        <!-- DETAILS -->
        <div class="qr-info">
            <p><strong>Installment1</strong> ₹5,000</p>
            <p><strong>Due Date:</strong> 10-Mar-2026</p>
            <p><strong>Installment2</strong> ₹25,000</p>
              <p><strong>Due Date:</strong> 30-Mar-2026</p>
              <p><strong>Installment3</strong> ₹20000</p>
                <p><strong>Due Date:</strong> 10-April-2026</p>
        </div>

        <!-- RECEIPT UPLOAD -->
        <form method="post" enctype="multipart/form-data" class="receipt-form">
            {% csrf_token %}
            <label class="upload-btn">
                Upload Receipt
                <input type="file" name="receipt" hidden required>
            </label>
            <button type="submit" class="submit-btn">Submit</button>
        </form>

        <!-- BACK -->
        <a href="{% url 'payment' %}" class="back-btn">← Back to home</a>

    </div>

</div>

{% endblock %}
