{% extends "trainer/mybatches/base.html" %}

{% block tab_content %}

<div class="glass-card">
    <h4 class="card-title"> Students ({{ batch.total_students }}) </h4>


    <div class="table-wrapper">
        <table class="data-table students-table ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Experience</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.full_name|default:student.user.username }}</td>
                    <td>{{ student.phone|default:"—" }}</td>
                    <td>
                        <span class="status {{ student.experience_level|lower }}">
                            {{ student.experience_level }}
                        </span>
                    </td>

                    <td class="text-center">
                        <a href="{% url 'trainer:batch-student-details' batch.id student.id %}"
                           class="btn btn-sm">
                            View
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center text-muted">
                        No students enrolled in this batch
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}
