{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Sidebar</title>
    <link rel="stylesheet" href="static/student/css/apps/student/static/student/css/templatemo-daynight-style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<div class="sidebar">

    <!-- Logo -->
    <div class="logo">
        <i class="fa-solid fa-graduation-cap"></i>
        <span>Student Panel</span>
    </div>

    <!-- Menu -->
    <ul class="menu">
        <li class="active"><i class="fa fa-home"></i> Dashboard</li>
        <li><i class="fa fa-user"></i> Profile</li>
        <li><i class="fa fa-book"></i> Course & Syllabus</li>
        <li><i class="fa fa-calendar"></i> Batch & Schedule</li>
        <li><i class="fa fa-chalkboard-teacher"></i> Trainer Profile</li>
        <li><i class="fa fa-calendar-check"></i> Attendance</li>
        <li><i class="fa fa-tasks"></i> Tasks & Exams</li>
        <li><i class="fa fa-credit-card"></i> Payments</li>
        <li><i class="fa fa-file"></i> Leave</li>
        <li><i class="fa fa-comment"></i> Feedback</li>
        <li><i class="fa fa-star"></i> Evaluation</li>
        <li class="logout"><i class="fa fa-sign-out-alt"></i> Logout</li>
    </ul>
    <main class="content">
     {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
            <p>&copy;LMS Admin System. All rights reserved.</p>
            <div class="footer-links">
                <a href="">Privacy Policy</a>
                <a href="">Terms of Service</a>
                <a href="">Contact</a>
            </div>
        </footer>

</div>

<script src="custom.js"></script>
</body>
</html>
