{% extends 'student/layout/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'student/css/install_view.css' %}">

<div class="installment-page">

    <!-- WHITE CARD -->
    <div class="white-card">

        <h2>Installment Details</h2>

        <div class="student-info">
            <p><strong>ID:</strong> {{ student.id}}</p>
            <p><strong>Student:</strong> {{ student.full_name }}</p>
            <p><strong>Email:</strong> {{ student.user.email }}</p>
        </div>

        <div class="header-divider"></div>

        <table class="installment-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
            {% for inst in installments %}
                <tr>
                    <td>{{ inst.installment_number }}</td>
                    <td>₹{{ inst.amount }}</td>

                    <td>
                        {% if inst.payment_status == "pending" %}
                            <span class="status pending">Pending</span>
                        {% elif inst.payment_status == "completed" %}
                            <span class="status paid">Paid</span>
                        {% else %}
                            —
                        {% endif %}
                    </td>

                    <td>
                        {% if inst.payment_status == "pending" %}
                            <a href="{% url 'student:install_qr' inst.id %}" class="pay-btn">
                                Pay Now
                            </a>
                        {% elif inst.payment_status == "completed" %}
                            ✓
                        {% else %}
                            —
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No installments found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'student:payment' %}" class="back-link">
            ← Back
        </a>

    </div>
</div>

{% endblock %}
