{% extends 'student/layout/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'student/css/onetime_view.css' %}">
{% endblock %}

{% block content %}

<div class="one-time-center">
    <div class="one-time-card">

        <h2>Fee Payment & Admission</h2>
        <p class="subtitle">One-Time Payment Summary</p>

        <p><strong>Student ID:</strong> {{ student.id }}</p>
        <p><strong>Name:</strong> {{ student.user.get_full_name }}</p>
        <p><strong>Email:</strong> {{ student.user.email }}</p>

        <p>
            <strong>Payment Mode:</strong>
            <span class="pill">One Time Payment</span>
        </p>

        

        <p>Admission Fee <span>₹ {{ admission_fee }}</span></p>
        <p>Course Fee <span>₹ {{ course_fee }}</span></p>
        <p class="total">Total Fee <span>₹ {{ admission_fee|add:course_fee }}</span></p>
        <p>
    <strong>Payment Status:</strong>
    {{ payment_status|title }}
</p>

<p>
    <strong>Payment Date:</strong>
    {% if payment_date %}
        {{ payment_date|date:"d M Y, h:i A" }}
    {% else %}
        --
    {% endif %}
</p>

        

        <a href="{% url 'student:payment' %}" class="back-link">
            ← Back to Payment Page
        </a>

    </div>
</div>

{% endblock %}
